In [5]:
password = 123
combination = 000

while combination !=password :
  print("incorrect password",combination)
  combination = combination+1


print("correct password",combination)

incorrect password 0
incorrect password 1
incorrect password 2
incorrect password 3
incorrect password 4
incorrect password 5
incorrect password 6
incorrect password 7
incorrect password 8
incorrect password 9
incorrect password 10
incorrect password 11
incorrect password 12
incorrect password 13
incorrect password 14
incorrect password 15
incorrect password 16
incorrect password 17
incorrect password 18
incorrect password 19
incorrect password 20
incorrect password 21
incorrect password 22
incorrect password 23
incorrect password 24
incorrect password 25
incorrect password 26
incorrect password 27
incorrect password 28
incorrect password 29
incorrect password 30
incorrect password 31
incorrect password 32
incorrect password 33
incorrect password 34
incorrect password 35
incorrect password 36
incorrect password 37
incorrect password 38
incorrect password 39
incorrect password 40
incorrect password 41
incorrect password 42
incorrect password 43
incorrect password 44
incorrect password 45
incorrect password 46
incorrect password 47
incorrect password 48
incorrect password 49
incorrect password 50
incorrect password 51
incorrect password 52
incorrect password 53
incorrect password 54
incorrect password 55
incorrect password 56
incorrect password 57
incorrect password 58
incorrect password 59
incorrect password 60
incorrect password 61
incorrect password 62
incorrect password 63
incorrect password 64
incorrect password 65
incorrect password 66
incorrect password 67
incorrect password 68
incorrect password 69
incorrect password 70
incorrect password 71
incorrect password 72
incorrect password 73
incorrect password 74
incorrect password 75
incorrect password 76
incorrect password 77
incorrect password 78
incorrect password 79
incorrect password 80
incorrect password 81
incorrect password 82
incorrect password 83
incorrect password 84
incorrect password 85
incorrect password 86
incorrect password 87
incorrect password 88
incorrect password 89
incorrect password 90
incorrect password 91
incorrect password 92
incorrect password 93
incorrect password 94
incorrect password 95
incorrect password 96
incorrect password 97
incorrect password 98
incorrect password 99
incorrect password 100
incorrect password 101
incorrect password 102
incorrect password 103
incorrect password 104
incorrect password 105
incorrect password 106
incorrect password 107
incorrect password 108
incorrect password 109
incorrect password 110
incorrect password 111
incorrect password 112
incorrect password 113
incorrect password 114
incorrect password 115
incorrect password 116
incorrect password 117
incorrect password 118
incorrect password 119
incorrect password 120
incorrect password 121
incorrect password 122
correct password 123

In [ ]:
combination+= 1

In [6]:
#Use while loop to print numbers from 1 to 5.
num =1
while (num <=5):
  print(num)
  num = num+1

1
2
3
4
5

In [7]:
num =1
enter_num = int(input())
while (num <=enter_num):
  print(num)
  num = num+1

10
1
2
3
4
5
6
7
8
9
10

In [8]:
num =1
enter_num = int(input("enter the number"))
while (num <=enter_num):
  print(num)
  num = num+2

enter the number10
1
3
5
7
9

In [17]:
#Take an input from the user for start and end values. Print all even numbers between them.
start = int(input("start:"))
end = int(input("stop:"))
loop_count =0
while start <=end:
  loop_count =loop_count+1
  if start%2 ==0:
    print(start)
  start =start+1
print("loop count", loop_count)

start:1
stop:10
2
4
6
8
10
loop count 10

In [ ]:
#lets assume the user always enter the even number 2,4

start = int(input("start:"))
end = int(input("stop:"))
loop_count =0
while start <=end:
  loop_count =loop_count+1
  if start%2 ==0:
    print(start)
  start =start+1
print("loop count", loop_count)

In [19]:
start = int(input("start:"))
end = int(input("stop:"))
loop_count =0
while start <=end:
  loop_count =loop_count+1
  if (start%2 ==0):
    print(start)
  start = start+2
print("loop count", loop_count)

start:2
stop:10
2
4
6
8
10
loop count 5

In [23]:
start = int(input("start:"))
end = int(input("stop:"))

if start%2==0:
  i = start
  print(i)
else:
  i =start+1
  print(i)

loop_count =0
while i <=end:
  loop_count = loop_count+1
  print(i)
  i = i+2

print("loop count", loop_count)

start:1
stop:10
2
2
4
6
8
10
loop count 5

In [24]:
x = 1
while x <= 100:
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
        print(x)
    x += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [46]:
num = 1
while num <=5:
  print(num, end=",")
  num = num +1

1,2,3,4,5,

In [43]:
print("python", "cool", sep ="\n ")

python
 cool

In [49]:
#make a table of 5 (1,10)
num = int(input("which table you want?"))
i = 1
while i <=10:
  print(num ,"*",i, "=",num*i )
  i = i+1

which table you want?11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [50]:
num = int(input("which table you want?"))
i = 1
while i <=10:
  print(num*i, end =" ")
  i = i+1

which table you want?11
11 22 33 44 55 66 77 88 99 110

In [53]:
no_of_times = 2
t =1
while t<=no_of_times:
  num = int(input("which table you want?"))
  i = 1
  while i <=10:
    print(num*i, end =" ")
    i = i+1
  print('\n')
  t = t+1

which table you want?5
5 10 15 20 25 30 35 40 45 50

which table you want?7
7 14 21 28 35 42 49 56 63 70

In [ ]:
password ="kuchbhi"
attempts =0
max_attempts =3

while attempts < max_attempts:
  pass_entered = input("enter pass ")
  if pass_entered == password:
    print("Access Granted")
    break
  else:
    attempts =attempts+1
    print("Incorrect password ", (max_attempts-attempts), "attempts left")

if attempts == max_attempts:
  print("tata bbye, no more attempt")