In [2]:
box =['s', 'n', 2, 3,6,9]

print(box)

['s', 'n', 2, 3, 6, 9]

In [3]:
for i in box:
  print(i)

s
n
2
3
6
9

In [7]:
list1 =[2,3,4,5,'a']

for i in list1:
  print(i+i)

4
6
8
10
aa

In [10]:
## Range

list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(1,5))

[1, 2, 3, 4]

In [14]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [17]:
list(range(0,-9))

[]

In [20]:
list(range(1,11,3))

[1, 4, 7, 10]

In [21]:
list(range(0,-9,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8]

In [22]:
#Calculate sum of all numbers starting from 1 to N (input) using a for loop.

num = int(input("Enter the num"))
final_sum = 0

for i in range(1,num+1):
  final_sum = final_sum+i
print(final_sum)

Enter the num10
55

In [25]:
for i in range(10,0,-1):
  print(i)
print("Here we go!")

10
9
8
7
6
5
4
3
2
1
Here we go!

In [26]:
#How many numbers are included in the below range?
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [31]:
#Write a while loop to print the following numbers  1,3,7,13,21,31,43

n =[1,3,7,13,21,31,43]
for i in n :
  print(i)

1
3
7
13
21
31
43

In [30]:
n = 1
i = 1
while n<=43:
  print(n, end =" ")
  n = n+2*i
  i = i+1

1 3 7 13 21 31 43

In [37]:
n = 1
i =2
for i in range(1,8):
  print(n)
  n =n+2*i
  i =i+1

1
3
7
13
21
31
43

In [40]:
# Write a loop to print the following numbers - 1,4,7,10,13,16

for i in range(1,17,3):
  if i== 16:
    print(i, end ="")
  else:
    print(i, end =",")

1,4,7,10,13,16

In [64]:
age =[20,23,25,27]

In [66]:
for i in age:
  if i == 25:
    break
  else:
    print(i, "do something")

20 do something
23 do something

In [67]:
for i in range(0,5):
  if i == 3:
    break
  print(i)

0
1
2

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        break
    print(x)
print("Loop finished")