In [3]:
s ={1,2,3}

In [4]:
type(s)

set

In [8]:
s1 ={'a':1, 'b':2, 'c':3} #k,v k:v

In [9]:
cust_id =[1,2,3]
age =[21,22,23]

In [10]:
df ={'cust_id':[1,2,3],
     'age':[21,22,23]}

In [12]:
df['age'][2]

23

In [13]:
a = {
    "random": "something which is not well defined",
    "bizzare": "something which is unusual"
}

In [14]:
type(a)

dict

In [15]:
a['random']

'something which is not well defined'

In [16]:
city_wise_data = {
    "Delhi": 450,
    "Mumbai": 400,
    "Bengaluru": 325
}

In [18]:
city_wise_data_tup = [("Delhi", 450), ("Mumbai", 400), ("Bengaluru", 325)]

In [20]:
city_wise_data_tup[0][1]

450

In [21]:
city_wise_data['Delhi']

450

In [22]:
city_wise_data['Delhi'] = 500

In [23]:
city_wise_data

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 325}

In [29]:
df ={'cust_id':(1,2,3),
     'age':[21,22,23],
     'income' :{100,100,200}}

In [26]:
df['age'][0] =25

In [32]:
city_wise_data['New Delhi'] =480

In [33]:
city_wise_data

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 325, 'New Delhi': 480}

In [30]:
df

{'cust_id': (1, 2, 3), 'age': [21, 22, 23], 'income': {100, 200}}

In [37]:
a =[5,6,7,8]

In [41]:
a.append(100)

In [42]:
a

[5, 6, 7, 8, 100, 100]

In [43]:
df ={'cust_id':[1,2,3],
     'age':[21,22,23]}

In [53]:
df['location'] =['Blr', 'Pune', 'Mumbai']

In [55]:
df['location'] =['Blr', 'Pune', 'Mum']

In [56]:
df

{'cust_id': [1, 2, 3], 'age': [21, 22, 23], 'location': ['Blr', 'Pune', 'Mum']}

In [57]:
df.update({'status': [1,0,0], 'name': ['Ram', 'shyam','laxam'], 'age':[22,23,24]})

In [58]:
df

{'cust_id': [1, 2, 3],
 'age': [22, 23, 24],
 'location': ['Blr', 'Pune', 'Mum'],
 'status': [1, 0, 0],
 'name': ['Ram', 'shyam', 'laxam']}

In [60]:
c ={'a':1, 'b':2, 'a':100}

In [62]:
c

{'a': 100, 'b': 2}

In [63]:
df

{'cust_id': [1, 2, 3],
 'age': [22, 23, 24],
 'location': ['Blr', 'Pune', 'Mum'],
 'status': [1, 0, 0],
 'name': ['Ram', 'shyam', 'laxam']}

In [71]:
df['asasasas']

KeyError: 'asasasas'

In [ ]:
##get

In [66]:
df.get('age')

[22, 23, 24]

In [70]:
df.get('asasasas')

In [72]:
a =[5,6,7,8]

In [73]:
a.pop()

8

In [75]:
a1 ={5,9,7,7,6,2}

In [76]:
a1.pop()

2

In [78]:
df.pop('status')

[1, 0, 0]

In [81]:
del df['age']

In [83]:
df.clear()
df

{}

In [86]:
df = {'cust_id': [1, 2, 3],
 'age': [22, 23, 24],
 'location': ['Blr', 'Pune', 'Mum'],
 'status': [1, 0, 0],
 'name': ['Ram', 'shyam', 'laxam']}

In [88]:
df['name'].pop()

'laxam'

In [89]:
df

{'cust_id': [1, 2, 3],
 'age': [22, 23, 24],
 'location': ['Blr', 'Pune', 'Mum'],
 'status': [1, 0, 0],
 'name': ['Ram', 'shyam']}

In [91]:
for i in df:
  print(i)

cust_id
age
location
status
name

In [94]:
for i in df:
  print(i,":", df[i])

cust_id : [1, 2, 3]
age : [22, 23, 24]
location : ['Blr', 'Pune', 'Mum']
status : [1, 0, 0]
name : ['Ram', 'shyam']

In [95]:
for i in df:
  print(f"Column Name is {i}, values are {df[i]}")

Column Name is cust_id, values are [1, 2, 3]
Column Name is age, values are [22, 23, 24]
Column Name is location, values are ['Blr', 'Pune', 'Mum']
Column Name is status, values are [1, 0, 0]
Column Name is name, values are ['Ram', 'shyam']

In [99]:
df['cust_id']= tuple(df['cust_id'])

In [102]:
df.keys()

dict_keys(['cust_id', 'age', 'location', 'status', 'name'])

In [103]:
df.values()

dict_values([(1, 2, 3), [22, 23, 24], ['Blr', 'Pune', 'Mum'], [1, 0, 0], ['Ram', 'shyam']])

In [104]:
df.items()

dict_items([('cust_id', (1, 2, 3)), ('age', [22, 23, 24]), ('location', ['Blr', 'Pune', 'Mum']), ('status', [1, 0, 0]), ('name', ['Ram', 'shyam'])])

In [107]:
for key, value in df.items():
  print(key, value)

cust_id (1, 2, 3)
age [22, 23, 24]
location ['Blr', 'Pune', 'Mum']
status [1, 0, 0]
name ['Ram', 'shyam']

In [110]:
for i,j in df.items():
  print(i,j)

cust_id (1, 2, 3)
age [22, 23, 24]
location ['Blr', 'Pune', 'Mum']
status [1, 0, 0]
name ['Ram', 'shyam']

In [113]:
for i,j in df.items():
  print(i,j)

cust_id (1, 2, 3)
age [22, 23, 24]
location ['Blr', 'Pune', 'Mum']
status [1, 0, 0]
name ['Ram', 'shyam']

In [115]:
for i in df.values():
  print(i)

(1, 2, 3)
[22, 23, 24]
['Blr', 'Pune', 'Mum']
[1, 0, 0]
['Ram', 'shyam']

In [116]:
for i in df:
  print(i)

cust_id
age
location
status
name

In [118]:
for i in df:
  print(i, df[i])

cust_id (1, 2, 3)
age [22, 23, 24]
location ['Blr', 'Pune', 'Mum']
status [1, 0, 0]
name ['Ram', 'shyam']

In [119]:
"age" in df.keys()

True

In [120]:
"asasaead" in df.keys()

False

In [133]:
e ={'key1':'val1', 'key2':['val2','val3']}
print(['val2', 'val3'] in e.values())

True

In [125]:
d = {'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

print('val1' in d.values())

True

In [134]:
d = {'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

print('val1' in d.values())

True

In [135]:
random ={
    "key1": [5,6,7],
    "key2": (4,5,6),
    "set1":{4,8,9},
    "new loop":{"new_key":1},
    "a": 1,
    "b": 1.0,
    "c": "abcc",
    "d": True
}

In [138]:
new_random = {
    1 : [1,2,3],
    1.0:(6,7,9),
    "a": (75,44,66),
    True: [77,88]
}

In [143]:
will_work ={
    {'k':1} :"a"
}

TypeError: unhashable type: 'dict'

In [149]:
a ={'#':3,2024:4,2022:5}

In [150]:
a['#']

3

In [151]:
my_dict = {'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}

In [153]:
my_dict

{'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}

In [152]:
dict(sorted(my_dict.items()))

{'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

In [167]:
dict(sorted(my_dict.items(),key = lambda x: x[1], reverse=True ))

{'orange': 5, 'banana': 3, 'apple': 2, 'grape': 1}

In [160]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [162]:
t = (5,8,1,2)
sorted(t)

[1, 2, 5, 8]

In [155]:
for i in my_dict:
  print(my_dict[i])

3
2
5
1

In [ ]:
[('banana', 3), ('apple', 2), ('orange', 5), ('grape', 1)]

In [184]:
random ="zzzzztttteeee"
set(r)

{'r', 's', 't'}

In [177]:
random.count('t')

4

In [186]:
result ={}
for i in set(random):
  result[i] =random.count(i)
print(dict(sorted(result.items())))

{'e': 4, 't': 4, 'z': 5}

In [181]:
result

{'t': 4, 'r': 2, 's': 4}

In [179]:
set(random)

{'r', 's', 't'}

In [180]:
random.count('r')

2