In [ ]:
class A:
    print("Am I a class?")

A()

obj1 = A()

if A():
    print(A())

Am I a class?
<__main__.A object at 0x782388680b50>

In [ ]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage

In [ ]:
c1 = Car("Nexon", 12)
c2= Car("Venue", 15)

In [ ]:
print(c1)

<__main__.Car object at 0x7823886833d0>

In [ ]:
c1.name

'Nexon'

In [ ]:
c2.name

'Venue'

In [ ]:
#changing the default behaviour of print () function
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    # Whenever an object is printed, __str__() function is called.
    def __str__(self):
      return f"Suraaj is great but the mileage is {self.mileage} for {self.name}"

In [ ]:
c1 = Car("Nexon", 12)
c2= Car("Venue", 15)

In [ ]:
print(c1)

Suraaj is great but the mileage is 12 for Nexon

In [ ]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [ ]:
#changing the default behaviour of print () function
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    # Whenever an object is printed, __str__() function is called.
    def __str__(self):
      return f"Suraaj is great but the mileage is {self.mileage} for {self.name}"

    def __add__(self, other):
      return self.mileage + other.mileage

In [ ]:
c1 = Car("Nexon", 12)
c2= Car("Venue", 15)

In [ ]:
c1+c2

27

In [ ]:
c1 < c2

TypeError: '<' not supported between instances of 'Car' and 'Car'

In [ ]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    # Whenever an object is printed, __str__() function is called.
    def __str__(self):
      return f"Suraaj is great but the mileage is {self.mileage} for {self.name}"

    def __add__(self, other):
      return self.mileage + other.mileage

    def __lt__(self, other):
      return self.mileage < other.mileage

In [ ]:
c1 = Car("Nexon", 12)
c2= Car("Venue", 15)

In [ ]:
c1+c2

27

In [ ]:
c1<c2

True

In [ ]:
#inheritance


class SchoolMember:
  def __init__(self, name):
    self.name = name

class Student (SchoolMember):
  def __init__(self, name, grade):
    super().__init__(name)
    self.grade = grade

class Staff (SchoolMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary

class Teacher (Staff):
  def __init__(self, name,salary , subject):
    super().__init__(name, salary)
    self.subject = subject

In [ ]:
s1= Student("Suraaj", "B")

In [ ]:
type(s1)

__main__.Student

In [ ]:
s1.grade

'B'

In [ ]:
s1.name

'Suraaj'

In [ ]:
t1= Teacher("ABC", 20000, "English")

In [ ]:
t1.name

'ABC'

In [ ]:
t1.salary

20000

In [ ]:
t1.subject

'English'

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdrawl(self, amount):
        self.balance -= amount

    def deposit(self, amount):
        self.balance += amount

In [ ]:
b1= BankAccount(10000)

In [ ]:
b1.withdrawl(2000)

In [ ]:
b1.deposit(30000)

In [ ]:
b1.balance

38000

In [ ]:
b1.balance=87623723478623784623786472364

In [ ]:
b1.balance

87623723478623784623786472364

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance

    def withdrawl(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def check_balance(self):
      return self.__balance

In [ ]:
b1= BankAccount(10000)

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.withdrawl(2000)

In [ ]:
b1.deposit(30000)

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.check_balance()

38000

In [ ]:
b1._BankAccount__balance

38000

In [ ]:
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdrawl']

In [ ]:
#name mangling

In [ ]:
class A:
    def __init__(self, a):
        self.a = a

class B:
    def __init__(self, b):
        self.b = b

class C (A,B):
  def __init__(self, a,b,c):
    A.__init__(self, a)
    B.__init__(self, b)
    self.c= c

In [ ]:
c1= C(1,2,3)

In [ ]:
c1.a

1

In [ ]:
c1.b

2

In [ ]:
c1.c

3

In [ ]:
class A:
    x = 10

class B(A):
    pass

class C(B):
  x=7

class D(A):
    x = 5

class E(C, D):
    pass

In [ ]:
e1 = E()
e1.x

7

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
class A:
  pass
class B:
  pass
class C(A, B):
  pass
class D:
  pass
class E(C, D):
  pass

In [ ]:
e1= E()

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.A, __main__.B, __main__.D, object)