In [ ]:
x= 5 #initial Value

x = 3* x
x = x+1

In [ ]:
print(x) #can't roll back the mutation

16

In [ ]:
x= 5

x1= 3*x
x2= x1+1

In [ ]:
print(x)

5

In [ ]:
x = 5

def mutation(x):
  x= 3*x
  x=x+1

  return x

In [ ]:
print(x)
print(mutation (x))

5
16

In [ ]:
#map function

m= [1,2,3,4,5,6]

In [ ]:
res= [i**2 for i in m]

In [ ]:
res1= list(map(lambda x: x**2,m ))

In [ ]:
res

[1, 4, 9, 16, 25, 36]

In [ ]:
res1

[1, 4, 9, 16, 25, 36]

In [ ]:
lister= list(range(100000))

In [ ]:
%%timeit
result_old= [i**2 for i in lister]

30.2 ms ± 975 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
result_new= map(lambda x: x**2, lister)

217 ns ± 7.35 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
result_old= [i**2 for i in lister]
result_new= map(lambda x: x**2, lister)

In [ ]:
result_new

In [ ]:
#
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

#h < 150 --> "S"
#h >= 150 and h < 180 --> "M"
#h >= 180 --> "L"

In [ ]:
def complex_logic(height):
    if height < 150:
        return "S"
    elif height >= 150 and height < 180:
        return "M"
    else:
        return "L"

In [ ]:
list(map(complex_logic, heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
list(map(lambda x: "S" if x<150 else "M" if x>=150 and x<180 else "L", heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

In [ ]:
list(map(lambda x,y: x==y, A,B))

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1,1,3]
B = [0,0,1,1,0,1,1,1,0,0,0,0]
list(map(lambda x,y: x==y, A,B))

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
a= list(range(1,11))

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#create a new list where you have elements from a that are divisible by 2
x=[]
for i in a:
  if i%2==0:
    x.append(i)

In [ ]:
x

[2, 4, 6, 8, 10]

In [ ]:
list(map(lambda x: x if x%2 == 0 else 0, a))

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [ ]:
list(filter(lambda x: x%2==0, a))

[2, 4, 6, 8, 10]

In [ ]:
a= [1,2,3]
b=["XYZ", "MNO", "QRS"]

In [ ]:
list(zip(a,b))

[(1, 'XYZ'), (2, 'MNO'), (3, 'QRS')]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]

In [ ]:
tuple(zip(c,b,a))

(('x', 'a', 1), ('y', 'b', 2), ('z', 'c', 3))

In [ ]:
type(zip(c,b,a))

zip

In [ ]:
x=[5,6,7,8,4,3,6]

In [ ]:
max(x)

8

In [ ]:
a= [1,2,3,4,5,6]

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y: x+y, a)

55

In [ ]:
reduce(lambda x,y: x if x>y else y, x )

8

In [ ]:
#initial value as 100 #cummulative sum

a= list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
reduce(lambda x,y: x+y,a, 100)

155

In [ ]:
reduce(lambda x,y: x+y,a, 0)

55

In [ ]:
def sum_number(x, y):
    return x + y

In [ ]:
sum_number(5,6)

11

In [ ]:
sum_number(5,6,7)

TypeError: sum_number() takes 2 positional arguments but 3 were given

In [ ]:
def sum_number(x, y, *args):
    return x + y

In [ ]:
sum_number(5,6,7,7,7777777)

11

In [ ]:
def sum_number(x, y, *args):
  print("args has: ", args)
  result=  x + y
  if args:
    result = result + sum(args)

  return result

In [ ]:
sum_number(5,6,7,7,7777777)

args has:  (7, 7, 7777777)

7777802

In [ ]:
sum_number(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:
#elements in args are stored as tuple

In [ ]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    return Person

In [ ]:
create_person("Suraaj", "99", gender="male")

{'name': 'Suraaj', 'age': '99', 'gender': 'male'}

In [ ]:
create_person(gender="male", name="Suraaj", age=99)

{'name': 'Suraaj', 'age': 99, 'gender': 'male'}

In [ ]:
create_person("Suraaj", "male", 99)

{'name': 'Suraaj', 'age': 'male', 'gender': 99}

In [ ]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    return Person

In [ ]:
create_person("Suraaj", "99", gender="male")

{'name': 'Suraaj', 'age': '99', 'gender': 'male'}

In [ ]:
create_person("Suraaj", "99", gender="male", hobby="chess")

TypeError: create_person() got an unexpected keyword argument 'hobby'

In [ ]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    print("kwargs has: ",extra_info)
    if extra_info:
      Person.update(extra_info)
    return Person

In [ ]:
create_person("Suraaj", "99", gender="male", hobby="chess")

kwargs has:  {'hobby': 'chess'}

{'name': 'Suraaj', 'age': '99', 'gender': 'male', 'hobby': 'chess'}

In [ ]:
create_person("Suraaj", "99", gender="male", hobby="chess", profession="Computers")

kwargs has:  {'hobby': 'chess', 'profession': 'Computers'}

{'name': 'Suraaj',
 'age': '99',
 'gender': 'male',
 'hobby': 'chess',
 'profession': 'Computers'}

In [ ]:
#kwargs are stored as dictionary

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(y)
    print(args)
    print(kwargs)

In [ ]:
random(1,2,3,4,v=5,m=9)

1
2
(3, 4)
{'v': 5, 'm': 9}

In [ ]:
random(1,2,3,4,v=5,m=9,99,100)

SyntaxError: positional argument follows keyword argument (<ipython-input-96-0444d6bdc2ee>, line 1)

In [ ]:
#positional> args> keywords> kwargs

In [ ]:
a=[1,2,3,4]
b=["a","b","c"]

In [ ]:
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
list(zip(a,b[1:]))

[(1, 'b'), (2, 'c')]

TypeError: list indices must be integers or slices, not list