In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
for i in range(3):
  for j in range(3):
    print('*', end =' ')
  print()

* * *
* * *
* * *

In [ ]:
for i in range(3):
  for j in range(i,3): # i ==0, 0,1,2, i == 1, 1,2, i ==2 range(2,3) -- 2
    print('*', end =' ')
  print()

* * *
* *
*

In [ ]:
for i in range(3):
  for j in range(3-i-1):
    print(" ", end =" ")
  for k in range( 2*i +1):
    print("*", end =" ")
  print()

    *
  * * *
* * * * *

In [ ]:
a = 16
b = 24
x = min(a,b)

for i in range(x,0, -1):
  if a%i ==0 and b%i ==0:
    print(i)
    break

8

16

In [ ]:
def guest_checklist():
  print("Dust the room")
  print("Serve Tea")

In [ ]:
guest_checklist()

Dust the room
Serve Tea

In [ ]:
def make_tea():
  print("Hey there, I am making the tea")

In [ ]:
make_tea()

Hey there, I am making the tea

In [ ]:
for i in range(5):
  make_tea()

Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea

In [ ]:
for i in range(5):
  print("Hey there, I am making the tea")

Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea
Hey there, I am making the tea

In [ ]:
## square

def sqr(n):
  print(n**2)

In [ ]:
sqr(5)

25

In [ ]:
print("hello")

hello

In [ ]:
min(5,3)

3

In [ ]:
def sqr_root(n):
  print(n**0.5)

In [ ]:
sqr_root(9)

3.0

In [ ]:
## area of rectangle  l,b

def area_rect(l,b):
  print(l*b)

In [ ]:
def greet(name):
  print("Hello, sab maaza ma," ,name)

In [ ]:
greet("rochit")

Hello, sab maaza ma, rochit

In [ ]:
def func(n):

In [ ]:
def func(n):
  for i in range(n):
    print("hello")

In [ ]:
func(3)

hello
hello
hello

In [ ]:
for i in range(3.0):
  print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
## return vs print


def add1(a,b):
  print(a+b)

In [ ]:
add1(6,5)

11

In [ ]:
def add2(a,b):
  return a+b

In [ ]:
add2(6,5)

11

In [ ]:
ax = add1(6,5)

11

In [ ]:
print(ax)

None

In [ ]:
axy = add2(5,6)

In [ ]:
axy

11

In [ ]:
def very_random():
  print("hello before return")
  return 1
  print("hello after return")

In [ ]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print(do_something(5))

15

In [ ]:
very_random()

hello before return

1

In [ ]:
def gcd(a,b):
  x = min(a,b)
  for i in range(x,0, -1):
    if a%i ==0 and b%i ==0:
      print(i)
      break

In [ ]:
gcd(5,15)

5

In [ ]:
area_rect(5,)

TypeError: area_rect() missing 1 required positional argument: 'b'

In [ ]:
def area_rect(b=5 , l=5):
  print(l*b)

In [ ]:
area_rect()

25

In [ ]:
def simple_int(p,t,r=12):
  return (p*r*t)/100

In [ ]:
simple_int(10000,1,4)

400.0

In [ ]:
def xyz(a, b, c= None):
  print(a,b,c)

In [ ]:
xyz("100","yyy",4)

100 yyy 4

In [ ]:
##global variables

def random():
  ba = 50
  print("its random", ba)

In [ ]:
ba = 10
def random():
  ba = 50
  print("its random inside", ba)
random()


print("its random outside" ,ba)

its random inside 50
its random outside 10

In [ ]:
ba = 10
def random():
  ba = 50
  print("its random inside", ba)

def random1():
  print("random 2 ", ba)

print(ba)
random()
random1()

10
its random inside 50
random 2  10

In [ ]:
a = 10
def randomz():
  global a
  a =20
  print(a)

In [ ]:
randomz()

20

In [ ]:
print(a)

20

In [ ]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))